.bar {
  width: 50px;
  background-color: white;
  text-align: center;
  transition: height 1s linear;
}

.graphContainer {
  height: 400px;
  width: 500px;
  text-align: center;
  vertical-align: middle;
  align-items: end;

  display: flex;
  flex-direction: row;
  gap: 16px;
}