body {
  font-family: sans-serif;
}

.square {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: 1px solid black;
}

.green {
  background-color: #00ff00;
}

.white {
  background-color: #fff;
}